@(usuarios: views.vo.PaginacaoVO[Usuario], edicao: Usuario = new Usuario())

@content = {
	
	<style type="text/css">
		.starter-template {
		  padding: 40px 15px;
		  text-align: center;
		}
		
		.thumbnail .panel .panel-body {
			height: 280px;
			overflow: auto;
		}
	</style>
	<div class="page-header">
	  	<h2>
		  	Usuários do Sistema<br/>
			<small>Aqui você poderá cadastrar, alterar e remover usuários como um administrador do sistema.</small>
		  	<a class="btn btn-primary btn-sm" href="#">Mais informações</a>
	  	</h2>
	</div>
	<div class="row">
    	<div class="@if(usuarios.possuiRegistros()){col-sm-12 col-md-5}else{col-md-12}">
    		<div class="thumbnail">
    			<div class="panel panel-primary">
    				<div class="panel-heading">
	    				Formulário
    				</div>
    				<div class="panel-body">
	    				<form action="/usuario/salvar" id="salvar-usuario" method="post" role="form"></form>
	    				<input form="salvar-usuario" name="id" type="hidden" value="@edicao.getId()" />	
	    				<div class="form-group">
	    					<input form="salvar-usuario" name="nome" type="text" class="form-control" placeholder="Nome completo" value="@edicao.getNome()" />
	    				</div>
	    				<div class="form-group">
	    					<input form="salvar-usuario" name="login" type="text" class="form-control" placeholder="Nome do usuário" value="@edicao.getLogin()" />
	    				</div>
	    				<div class="form-group">
	    					<input form="salvar-usuario" name="senha" type="password" class="form-control" placeholder="Senha" />
	    				</div>
	    				<div class="form-group">
	    					<input form="salvar-usuario" name="email" type="text" class="form-control" placeholder="E-mail" value="@edicao.getEmail()" />
	    				</div>
	    				<div class="form-group">
	    					<select name="papel" class="form-control" form="salvar-usuario" placeholder="Papel">
	    						@if(edicao.getPapel() == null) {
	    							<option value="" disabled="disabled" selected="selected">Papel</option>
	    						}
	    						@for(papel <- enums.PapelEnum.values()) {
	    							@if(papel.equals(edicao.getPapel())) {
			    						<option value="@papel.toString()" selected="selected">@papel.getRotulo()</option>
	    							} else {
			    						<option value="@papel.toString()">@papel.getRotulo()</option>
	    							}
	    						}
	    					</select>
	    				</div>
    				</div>
    				<div class="panel-footer">
    					<input form="salvar-usuario" type="submit" class="btn btn-primary" value="Salvar Usuário">
    					<input form="salvar-usuario" type="reset" class="btn btn-default" value="Limpar">
    				</div>
    			</div>
    		</div>
    	</div>
    	@if(usuarios.possuiRegistros()) {
	    	<div class="col-sm-12 col-md-7">
	    		<div class="thumbnail">
	    			<div class="panel panel-primary">
	    				<div class="panel-heading">
		    				Usuários
	    				</div>
	    				<div class="panel-body">
		    				<form action="/usuario/acao" method="post" id="acao-usuario"></form>
		    				<table class="table table-stripped table-hover">
		    					<thead>
		    						<tr>
		    							<th class="col-md-1 col-xs-1 col-sm-1">#</th>
		    							<th class="col-md-5 col-xs-6 col-sm-6">Nome</th>
		    							<th class="col-md-4 hidden-xs col-sm-5">E-mail</th>
		    							<th class="col-md-2 hidden-xs hidden-sm">Papel</th>
		    						</tr>
		    					</thead>
		    					<tbody>
				    				@for(usuario <- usuarios.getItens()) {
			    						<tr>
			    							<td class="col-md-1"><input form="acao-usuario" type="radio" name="usuario-selecionado" value="@usuario.getId()" /></td>
			    							<td class="col-md-5">@usuario.getNome()</td>
			    							<td class="col-md-4 hidden-xs col-sm-5">@usuario.getEmail()</td>
			    							<td class="col-md-3 hidden-xs hidden-sm">@usuario.getPapel().getRotulo()</td>
			    						</tr>
				    				}
		    					</tbody>
		    				</table>
	    				</div>
	    				<div class="panel-footer">
	    					<div class="btn-toolbar" role="toolbar">
	    						<div class="btn-group">
				   					<button form="acao-usuario" name="botao-acao" type="submit" class="btn btn-default" value="editar"><span class="glyphicon glyphicon-pencil"></span></button>
				   					<button form="acao-usuario" name="botao-acao" type="submit" class="btn btn-default" value="remover"><span class="glyphicon glyphicon-trash"></span></button>
	    						</div>
	    						<div class="btn-group">
			   						@if(usuarios.primeiraPagina()){
								  		<a class="btn btn-default disabled" href="/p/@usuarios.getPaginaSelecionada()">&laquo;</a>
			   						} else {
								  		<a class="btn btn-default" href="/p/@usuarios.getPaginaAnterior()">&laquo;</a>
			   						}
			   						
									@for(indice <- 1 to usuarios.getPaginas()) {
										@if(usuarios.intervalo(indice)) {
											@if(usuarios.selecionada(indice)) {
												<a class="btn btn-primary" href="/p/@indice">@indice</a>
											} else {
												<a class="btn btn-default" href="/p/?pagina=@indice">@indice</a>
											}
										}
									}
								  
			   						@if(usuarios.ultimaPagina()){
								  		<a class="btn btn-default disabled" href="/p/@usuarios.getPaginaSelecionada()">&raquo;</a>
			   						} else {
								  		<a class="btn btn-default" href="/p/@usuarios.getProximaPagina()">&raquo;</a>
			   						}
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
    	}
    </div>
}

@menu = {
	<li><a href="#">Item 1</a></li>
	<li><a href="#">Item 2</a></li>
	<li><a href="#">Item 3</a></li>
	<li><a href="#">Item 4</a></li>
	<li><a href="#">Item 5</a></li>
}

@template("BRy Portal de Serviços", "Página Inicial")(content, null)