@content = {
	
	<style type="text/css">
		.starter-template {
		  padding: 40px 15px;
		  text-align: center;
		}
	</style>
	<div class="jumbotron">
	  <h1>Hello, world!</h1>
	  <p>...</p>
	  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>
	<div class="row">
    	<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
    			<div class="panel panel-primary caption">
    				<h3>Thumb 1</h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam omnis accusamus rem quibusdam repellendus hic molestias optio ipsam, quaerat veniam alias obcaecati sed quos quas repellat distinctio, voluptatibus deleniti perferendis!</p>
    				<p><a href="#" class="btn btn-primary">Primario</a><a href="#" class="btn btn-default">Default</a></p>
    			</div>
    		</div>
    	</div>
    	<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
    			<div class="panel panel-primary caption">
    				<h3>Thumb 2</h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sit cum voluptatem, et sint perferendis. Excepturi quibusdam, possimus vero dolores id inventore? Veniam architecto, earum officia tenetur ab sit corporis.</p>
    				<p><a href="#" class="btn btn-primary">Primario</a><a href="#" class="btn btn-default">Default</a></p>
    			</div>
    		</div>
    	</div>
    	<div class="col-sm-6 col-md-4">
    		<div class="thumbnail">
    			<div class="panel panel-primary caption">
    				<h3>Thumb 3</h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque deleniti sunt architecto atque aut reprehenderit vitae quia, tempora, sed odio, in consequatur! Suscipit ipsa ad, labore voluptatibus dolores tempora hic.</p>
    				<p><a href="#" class="btn btn-primary">Primario</a><a href="#" class="btn btn-default">Default</a></p>
    			</div>
    		</div>
    	</div>
    </div>
}
@menuLateral = {
	<li><a href="#">Item</a></li>
	<li><a href="#">Item</a></li>
	<li><a href="#">Item</a></li>
	<li><a href="#">Item</a></li>
	<li><a href="#">Item</a></li>
}
@template("BRy Portal de Serviços", "Página Inicial")(content,menuLateral)